.pagetitle {
    display: inline-block;
    font-family:'Franklin Gothic';
    color:darkolivegreen;
}
.fullwindow {
    display: block;
    position: relative;
    border-style: solid;
    background-color: white;
    margin: 0 auto;
    width: 1400px;
    height: 800px;
}
.textcontent {
    font-family:'Franklin Gothic';
    color:black;
}
.button, .clickedButton {
    margin: 5px;
    width: 70px;
    border: 1px solid black;
}
.button {
    background-color:orange;
}
.button:hover {
    cursor:pointer;
}
.clickedButton {
    background-color: green;
}
.clickedButton:hover {
    cursor: default;
}
.buttonposition {
    position:relative;
    height:30px;
}
.windowtitle {
    font-family:'Yu Gothic';
    color:black;
    text-align:center;
}
.pageBg {
    background-color:cornflowerblue;
}
#homepage {
    position: absolute;
    background-color: white;
    padding-left: 2%;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
/* --------Customisation Window Styles-------- */
#customise {
    position: absolute;
    background-color: white;
    padding-top: 1%;
    padding-bottom: 1%;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
.customiseContent {
    position: absolute;
    left: 2%;
    top: 0px;
    bottom: 0px;
    right: 2%;
    margin-left:20px;
    padding-left: 20px;
    margin-right: 20px;
    padding-right: 20px;
    background-color: brown;
}
.sidebar {
    position: absolute;
    left:0px;
    width:2%;
    top: 0px;
    bottom: 0px;
    background-color:burlywood;
}
.rotatedText {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    transform: rotate(-90deg);
    font-size: small;
}
.sidebarButton, .clickedSidebarButton {
    position: absolute;
    left: 0px;
    right: 0px;
    height: 70px;
    border: 1px solid black;
}
.sidebarButton {
    background-color:orange;
}
.clickedSidebarButton {
    background-color:green;
}
.customisationOptions {
    position: absolute;
    top: 15%;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background-color: chocolate;
}
.radioButton {
    position: absolute;
    bottom: 20%;
    right: 5%;
}
.notificationCheckmark {
    position: absolute;
    bottom: 30%;
}
.nameInput {

}
.durationSlider {
    position: absolute;
    bottom: 10%;
}
.applyButton {
    position: absolute;
    right: 5%;
    bottom: 5%;
    height: 50px;
    width: 100px;
    font-size: 20px;
    background-color: aquamarine;
}
.countdownFieldValues {
}
#countdownTimer {    
}
#countdownTimerButton {
    top:0px;
}
#exampletimerButton2 {
    top: 70px;
}
/* --------Running Window Styles-------- */
#running {
    position: absolute;
    background-color: white;
    padding-left: 2%;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
.runningInfo {
    position: absolute;
    top: 15%;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background-color: cadetblue;
}
.timerInfo {
    position: absolute;
    top: 40%;
    left: 42%;
}
#runningtext {
    color: red;
}
#timername {
    color: gray;
}
#durationValue {
    position: absolute;
    left: 50%;
    top: 50%;
}
.stopButton {
    position: absolute;
    right: 5%;
    bottom: 5%;
    height: 50px;
    width: 100px;
    font-size: 20px;
    background-color: darkred;
} 
/* --------ListActive Window Styles-------- */
#listactive {
    position: absolute;
    background-color: white;
    padding-left: 2%;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
/*Window tab Styles*/
#homepageButton {
    display: inline-block;
    position:absolute;
    right: 30%;
}
#customiseButton {
    display: inline-block;
    position:absolute;
    right: 26%;
}
#runningButton {
    display: inline-block;
    position:absolute;
    right:22%;
}
#listactiveButton {
    display: inline-block;
    position:absolute;
    right:18%;
}