body {
    position: relative;
}
.pagetitle {
    display: block;
    position: relative;
    font-family:'Franklin Gothic';
    color:darkolivegreen;
}
.alertPosition {
    position: absolute;
    left: 30%;
}
.fullwindow {
    display: block;
    position: relative;
    border-style: solid;
    background-color: white;
    margin: 0 auto;
    width: 1400px;
    height: 800px;
}
.textcontent {
    font-family:'Franklin Gothic';
    color:black;
}
.button, .clickedButton {
    margin: 5px;
    width: 70px;
    border: 1px solid black;
}
.button {
    background-color:orange;
}
.button:hover {
    cursor:pointer;
}
.clickedButton {
    background-color: green;
}
.clickedButton:hover {
    cursor: default;
}
.buttonposition {
    position:relative;
    height:30px;
}
.windowtitle {
    font-family:'Yu Gothic';
    color:black;
    text-align:center;
}
.pageBg {
    background-color:cornflowerblue;
}
#homepage {
    position: absolute;
    background-color: white;
    padding-left: 2%;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
/* --------Customisation Window Styles-------- */
#customise {
    position: absolute;
    background-color: white;
    padding-top: 1%;
    padding-bottom: 1%;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
.customiseContent {
    position: absolute;
    left: 2%;
    top: 0px;
    bottom: 0px;
    right: 2%;
    margin-left:20px;
    padding-left: 20px;
    margin-right: 20px;
    padding-right: 20px;
    background-color: brown;
}
.sidebar {
    position: absolute;
    left:0px;
    width:2%;
    top: 0px;
    bottom: 0px;
    background-color:burlywood;
}
.rotatedText {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    transform: rotate(-90deg);
    font-size: small;
}
.sidebarButton, .clickedSidebarButton {
    position: absolute;
    left: 0px;
    right: 0px;
    height: 70px;
    border: 1px solid black;
}
.sidebarButton {
    background-color:orange;
}
.clickedSidebarButton {
    background-color:green;
}
.customisationOptions {
    position: absolute;
    top: 15%;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background-color: chocolate;
    font-size: 20px;
}
.runstateButton {
    position: absolute;
    bottom: 20%;
    right: 5%;
}
.startTimeInput {
    position: absolute;
    right: 5%;
    bottom: 35%;
}
.weekDayOptions {
    position: absolute;
    bottom: 65%;
    right: 5%;
    text-align: right;
}
.weekDayCheckmarkGroup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.weekDayCheckmarkGroup input {
    display: inline-block;
}
.weekDayCheckmarkGroup label {
    display: inline-block;
}
.endNotificationCheckmark {
    position: absolute;
    left: 5%;
    bottom: 30%;
}
.persistentCheckmark {
    position: absolute; 
    right: 5%;
    bottom: 55%;
}
.startNotificationCheckmark {
    position: absolute;
    right: 5%;
    bottom: 50%;
}
.nameInput {
    position: absolute;
    top: 10%;
    left: 5%;
}
.durationInput {
    position: absolute;
    left: 5%;
    bottom: 10%;
}
.alarmVolumeSlider {
    position: absolute;
    left: 5%;
    top: 40%;
}
.alarmSoundList {
    position: absolute; 
    left: 5%;
    top: 30%;
}
.alarmDurationInput {
    position: absolute;
    left: 5%;
    top: 50%;
}
.applyButton {
    position: absolute;
    right: 5%;
    bottom: 5%;
    height: 50px;
    width: 100px;
    font-size: 20px;
    background-color: aquamarine;
    cursor: pointer;
}
.countdownToggleDisable {
    
}
.countdownFieldValues {
}
#countdownTimer {    
}
#countdownTimerButton {
    top:0px;
}
#exampletimerButton2 {
    top: 70px;
}
/* --------Running Window Styles-------- */
#running {
    position: absolute;
    background-color: white;
    padding-left: 2%;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
.runningInfo {
    position: absolute;
    top: 15%;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background-color: cadetblue;
}
.durationInfo {
    position: absolute;
    top: 40%;
    left: 42%;
}
#runningtext {
    color: red;
}
#timerInfo {
    
}
#timerpreset {
    color: sandybrown;
}
#timername {
    color: snow;
}
#durationValue {
    position: absolute;
    left: 50%;
    top: 50%;
}
.stopButton {
    position: absolute;
    right: 5%;
    bottom: 5%;
    height: 50px;
    width: 100px;
    font-size: 20px;
    background-color: darkred;
    cursor: pointer;
} 
/* --------ListActive Window Styles-------- */
#listactive {
    position: absolute;
    background-color: white;
    padding-left: 2%;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
#importButton {
    position: fixed;
    left: 5%;
    bottom: 5%;
    height: 50px;
    width: 100px;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    background-color: #d7ec24;
    border-style: solid;
    border-width: 5px;
    cursor: pointer;
} 
#exportButton {
    position: fixed;
    right: 5%;
    bottom: 5%;
    height: 50px;
    width: 100px;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    background-color: #5fd8c2;
    border-style: solid;
    border-width: 5px;
    cursor: pointer;
}
.timerList {
    position: absolute;
    top: 15%;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background-color: Pink;
    overflow-y: auto;
}
.timerBox {
    position: relative;
    display: inline-block;
    border-style: solid;
    background-color: #21c64b;
    padding: 5px;
    margin: 20px;
}
.closeButton {
    position: absolute;
    display: inline;
    background-color: red;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    color: white;
    right: 5px;
    top: 5px;
    cursor: pointer;
}
.nameTextColour {
    color: snow;
}
.presetTextColour {
    color: sandybrown;
}
.Running {
    color: #e03a3c;
}
.Waiting {
    color: #e3ec1b;
}
.persistenceTextColourtrue {
    color: green;
}
.persistenceTextColourfalse {
    color: red;
}
.startTimeTextColour {
    color: snow;
}
.weekDaysTextColour {
    color: snow;
}

/*Window tab Styles*/
#homepageButton {
    display: inline-block;
    position:absolute;
    right: 30%;
}
#customiseButton {
    display: inline-block;
    position:absolute;
    right: 26%;
}
#runningButton {
    display: inline-block;
    position:absolute;
    right:22%;
}
#listactiveButton {
    display: inline-block;
    position:absolute;
    right:18%;
}
.noHighlighting {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Presets */
#placeholder1 {}
#placeholder2 {}